# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Logs
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# Data exports
csv_exports/

# Env / secrets
.env

